div
{
    border: 1px solid black;/* Параметры рамки */
    padding: 5px; /* Поля вокруг текста */
    margin-bottom: 5px; 
}

#Zag
{
    text-align: center;
}
#Text
{
    text-align: left;
}  
.content {
    width: 75%; /* Ширина слоя */
    background: #fc0; /* Цвет фона */
   }